rss,
* {
    display: block;
    font-family: monospace;
    margin: 0px 10px;
}

title {
    display: block;
    margin: 5px;
    padding: 2px;
    color: hsl(210, 75%, 45%);
    border-bottom: 1px solid silver;
}

author::before {
    content: "Author: "
}

creator::before {
    content: "Creator: "
}

description::before {
    content: "Description: "
}

lastBuildDate::before {
    content: "RSS update date: "
}

pubDate::before {
    content: "Date of publication: "
}

language::before {
    content: "Language: "
}

guid::before {
    content: "Guid: "
}

link::before {
    content: "Link: "
}

category::before {
    content: "Category: "
}

accentColor::before {
    content: "Accent colour: "
}

encoded {
    font-style: italic;
}

encoded::before {
    content: "Content: "
}

image {
    margin: 20px 10px;
}

image::before {
    content: "Logotype data: "
}

url::before {
    content: "Link to logotype: "
}

width::before {
    content: "Image width: "
}

height::before {
    content: "Image height: "
}

item {
    display: block;
    padding: 2px 30px 2px 30px;
}

item::before {
    content: "Article data: "
}